 body {
   visibility: hidden;
   overflow: hidden;
   color: white;
   background: lightblue;
 }

 body.ready {
   visibility: visible;
 }

 body.font-loading {
   visibility: visible;
 }

 .container {
   display: flex;
 }

 math-field {
   font-size: 24px;
   border: 4px solid white;
   padding: 4px;
   width: 100%;
   /* The position and z-index are required to prevent some elements (like a readmore) to be displayed on top of elements of the mathfield. That's an issue in particular with the contextmenu which extends outside the boundary of the mathfield */
   position: relative;
   z-index: 1;
   color: black;
   background: lightgreen;
   font-family: Monospace;
 }